<% provide :title, t("all_question") %>
<h1><%= t :all_question %></h1>
<ul class="question">
  <% if @questions.any? %>
  <%= render @questions %>
  <% end %>
</ul>
<%= link_to t("category.back"), new_admin_question_path %>
